@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.custom-container {
  @apply px-5 sm:px-5 md:px-10 lg:px-10 xl:px-20;
}

.ourclient .swiper-wrapper {
  transition-timing-function: linear;
}

.testimonial .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
}
.testimonial .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b9ff66 !important;
}
