@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.custom-container {
  @apply px-5 md:px-10 lg:px-10 xl:px-20;
}

.ourclient .swiper-wrapper {
  transition-timing-function: linear !important;
}

.custom-bullet {
  background-color: white !important;
}

.custom-bullet.swiper-pagination-bullet-active {
  background-color: #b9ff66 !important;
}

.arrow-button {
  padding: 0.5rem 0.8rem;
  border-radius: 9999px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
